MONGODB_URI=mongodb+srv://user:password@appname.xxxxxxx.mongodb.net/?appName=appname
JWT_SECRET=your-secret-key-change-this-to-something-long-and-random
JWT_EXPIRES_IN=7d
TMDB_READ_ACCESS_TOKEN=your-tmdb-read-access-token