@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg: #f7f3ea;
}

body {
  margin: 0;
  font-family:
    "Montserrat",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  background-color: var(--bg);
  color: #111;
}
